<section class="edit-joke-page">
    <h1>Improvise Joke</h1>
    <form action="/joke/<%= joke['jokes_id'] %>" method="POST" class="edit-joke-css">
        <input type="hidden" name="_method" value="put">

        <label for="">Joke: </label>
        <input type="text" name="jokes" value="<%= joke['jokes']%>" class="update-joke-input">

        <button class="update-joke-input">Improvise Joke!</button>
    </form>
</section>
