<section class="login-page">
    <header>
    <h1 class="title">Log in</h1>
    </header>
    <form action="/sessions" method="POST" class="login-form-css">
        <label for="">Email:</label>
        <input type="text" name="email" class="sessions-input">

        <label for="">Password:</label>
        <input type="password" name="password" class="sessions-input">

        <button class="sessions-input">login</button>
    </form>
</section>