<div class="new-user-page">
    <h1>Sign up</h1>
    <form action="/create_user" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name" id="">

    <label for="">Email: </label>
    <input type="text" name="email" id="">

    <label for="">Password: </label>
    <input type="password" name="password" id="">

    <button>Sign up</button>
    </form>
</div>